$color-azul: #2c3d63; 
$color-bg-nav: rgb(10, 5, 5); 
$color-gris: grey;
$color-lightgris: rgb(209, 209, 209);
$color-bg: #f8f9fa;
$color-blanco: #ffff;
$color-bg-footer: #e0e0e0;
$color-celeste: #007bff;
$font-titulo: 'Abel', sans-serif;
$font-parrafo: 'Open Sans', sans-serif;
$color-btn-insta: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
$color-btn-face: #3b5998;
$color-btn-tw: #36D8FF;
$color-btn-yt: #ff0000;
$color-btn-lk: #3498db;
